:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}

.bgcolor {
    /* background: red; */
    background: var(--bg-black-900);
    display: inline-block;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    opacity: 1;
    height: 100vh;
    position: relative;
}

.body-title h1 {
    font-size: 50px;
    color: var(--text-black-900);
    font-weight: 900;
    position: relative;
    text-align: center;
    margin-top: 5px;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.city {

    display: flex;
    flex-wrap: wrap;
    position: relative;
   
}

.city .city-item {

    flex: 0 0 21.60%;
    max-width: 21.60%;
    margin-bottom: 30px;
    
}

.city .city-item-inner .city-img img {
    width: 100%;
    height: 30vh;
    display: flex;
    flex: 0 0 100%;
    width: 100%;
}

.city .city-item-inner {
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
   
    cursor: pointer;
}

.city .city-item .city-item-inner h2 {
    margin-top: 10px;
    font-size: 28px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
    
    border-bottom: 1px solid var(--bg-black-50);
    text-align: center;
}
.city .container h2 {
    margin-top: 10px;
    font-size: 38px;
    color: var(--text-black-900);
    font-weight: 800;
    text-transform: capitalize;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    text-align: center;
}
.city .container p {
    margin-top: 10px;
    font-size: 20px;
    color: var(--text-black-900);
    font-weight: 500;
    display: block;

}
.row {
    max-width: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.row p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
 }
 .row p span {
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}

.row .row-item {
    
        flex: 0 0 40%;
        max-width: 40%;
        margin-bottom: 30px;
        
    
}
.row .row-item .row-item-1 {
    
    flex: 0 0 100%;
    max-width: 100%;
    
    

}
.row .row-item-inner {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;

}
.row .row-item-inner .row-item-2 {
    
margin-left: 200px;
    flex: 0 0 100%;
    max-width: 100%; 

}
.row .row-item-inner .state-img {
    text-align: right; 
}
.para {
    flex: 0 0 100%;
    max-width: 100%;

}
.para h2 {
    font-size: 25px;
    color: var(--text-black-900);
    font-weight: 800;
    text-transform: capitalize;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
}
.para p {
    margin-top: 10px;
    font-size: 18px;
    color: var(--text-black-700);
    font-weight: 400;
    display: block;
    margin-bottom: 30px;
   
}



















/* .row .row-item-inner .state-img img {
    height: 30vh;
    
    text-align: right;
} */